.container
  max-width: 1440px
  margin: 0 auto
.header
  background: #181818
.section
  &__preview
    background: url('../img/header-img.png') center (center/cover) no-repeat
    min-height: 716px
  &__main-bg
    width: 100%
